[submodule "jsBells"]
	path = jsBells
	url = https://github.com/anizaeger/jsBells
[submodule "jsSlots"]
	path = jsSlots
	url = https://github.com/anizaeger/jsSlots
	branch = develop
[submodule "Tandy_12"]
	path = Tandy_12
	url = https://github.com/anizaeger/Tandy_12
[submodule "jsPoker"]
	path = jsPoker
	url = /Users/anizaeger/Documents/My Documents/Development/projects/poker/jsPoker
[submodule "jsKeno"]
	path = jsKeno
	url = /Users/anizaeger/Documents/My Documents/Development/projects/keno/extras/jsKeno
